{{#each entries}}

<div class = "image-completed-entry">
  <div class="index-all-completed">
        <h4>  {{goal}} </h4>
        <h5> {{description}} </h5>
        <h5> {{finishBy}} </h5>
        <h5> {{location}} </h5>
        <h5>Completed: {{completed}}</h5>
        <h5><a href="{{url}}">More Info</a></h5>
      </div>
    </div>
</div>
{{/each}}
