{{#each entries}}

<div class = "image-show-entry {{_id}}">
  <div class="show-each-entry">
    <h4>  {{goal}} </h4>
    <h5> {{description}} </h5>
    <h5> {{finishBy}} </h5>
    <h5> {{location}} </h5>
    <h5> completed: {{completed}}</h5>
    <h5><a href="{{url}}">More Info</a></h5>
      <form class="delete-entry-form" data-id="{{_id}}">
        <input name="submit" type="submit" class="delete-entry-btn-sm" value="I gave up.. :(">
      </form>
    </div>
  </div>
{{/each}}
