{{#each entries}}

<div class="show-each-entry">

  <h4>  {{goal}} </h4>
  <h5> {{description}} </h5>
  <h5> {{finishBy}} </h5>
  <h5> {{location}} </h5>
  <h5><a href="{{url}}">More Info</a></h5>

  <form class="show-entry-form">
    <input name="submit" type="submit" class="complete-entry-btn" data-id="{{_id}}" value="I did it!">
    <input name="submit" type="submit" class="delete-entry-btn" data-id="{{_id}}" value="I gave up.. :(">
  </form>

</div>

{{/each}}
